// header
.header{
    background-image: url("./assets/2.png");
    height: 80vh;
    @include background();
    padding-bottom: 50%;
    position: relative;
    .header__logo{position: absolute;top: 3%; left: 20%; height: auto; width: 15%; max-width: 80px;}
    .header__text{color: $color;position: absolute;
        top: 40%;left:20%;right:50%;
        .text__picture{font-size: 90px; };
        };  
.headerTextTwo{position:absolute;left: 20%;top:90%;color:black;flex-direction:row;padding-right:5%;
.TextTwo{display: flex;flex-direction: row;}
.text__start-one{display: $display;flex-direction:column;justify-content: center;padding-right: 10%;
}
.one__start{font-size: $fontOne;};
.text__two{color: $display;flex-direction:column;justify-content: center;padding-top: 25%}
}
};